{
  "*.{cjs,mjs,js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "cypress/*.{cjs,mjs,js,jsx,ts,tsx}": [
    "eslint --fix -c ./cypress/.eslintrc.cjs"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{cjs,mjs,js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}
