body {
    margin: 0;
    font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",  serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wi {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.3;
}
